<!DOCTYPE html>
<html>
  <head>
    <title>Expresso</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>

  <body>
      
<nav class="navbar navbar-inverse navbar-custom " >
    <div class="container-fluid" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
  
        <a class="navbar-brand" href="#"><div><img src="../assets/logo.svg" alt="" ></div></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li><a href="#">expresso</a></li>
            </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Creator's Corner</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <div id="container">
      
<br><br>
<center> <div style="background-color: white; height: 12rem; width: 12rem; border-radius: 30rem;"></div></center>
<br>
 <center><p style="font-size: 4rem; color: white;">Aashika Jain</p></center>
<br>
<center> <div style="background-color:  rgba(83, 54, 157, 1);
    ; height: 3rem; width: 25rem; border-radius: 20px;"><center><p style="color: white; padding-top: 0.5rem;">handloom crafter</p></center></div></center>
   <br><br>
   
   <center> <div style="
     height: 3rem; width: 25rem; border-radius: 20px;"><center><p style="color: white; padding-top: 0.5rem;">36, Loves dancing and travelling.
Always looking for opportunities to challenge my creative boundaries. </p></center></div></center>
  <center><img src="../assets/down.svg" alt="" style="margin-top: 10rem;"></center>

  <center><p style="margin-top: 8rem; color: rgb(233, 223, 223); padding-top: 0.5rem;">Express Your Gratitude</p></center>
<br><br>
  <button class="btn1" style="font-size: 1.5rem; width: 80%;" onclick="window.location.href='support.html'">Support My Venture</button>  
 <br> <br> 
  <button class="btn2" style="font-size: 1.5rem; width: 80%;" onclick="window.location.href='card.html'">Send a Personalised Thank You Note</button>  
<br><br>
</body>
</html>
