<!DOCTYPE html>
<html lang="en">
<head>
  <title>Creator - Expresso</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
</head>
<body>
    <style>
        .qr-code {
          max-width: 200px;
          margin: 10px;
        }
      </style>
<nav class="navbar navbar-inverse navbar-custom " >
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <a class="navbar-brand" href="#"><div><img src="../assets/logo.svg" alt="" ></div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="#">expresso</a></li>
          </ul>
      <ul class="nav navbar-nav navbar-right" id="my-profile">
        <li><a href="#">Creator's Corner</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
    <script src=
    "https://code.jquery.com/jquery-3.5.1.js">
  </script>
 <script src=
 "../qrgen.js">
</script> 

<p style="color: white; font-size: 2.5rem;" >Here's your awesome<br>QR-Code</p>
<br><br>
<!-- <img src="../assets/astroblend.svg" alt="" width="100%" class="astro"> -->
<center><div class="qr-download">
  <img src=
  "https://chart.googleapis.com/chart?cht=qr&chl=${profilemap}&chs=160x160&chld=L|0\"
          class="qr-code img-thumbnail img-responsive" />
  <br><br>
    <a href="https://chart.googleapis.com/chart?cht=qr&chl=${profilemap}&chs=500x500&chld=L|0\.png" download>
        <button class="btn1" >Download</button> 
    </a>
  
</div></center>


<br>
<br>
</div>

<script src="../firebase.js"></script>
<script src="../scripts/nav.js"></script>

</body>
</html>
