<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expresso| Your Profile</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-custom " >
        <div class="container-fluid" >
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
      
            <a class="navbar-brand" href="#"><div><img src="../assets/logo.svg" alt="" ></div></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                

              </ul>
            <ul class="nav navbar-nav navbar-right">
              
              <li class="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <main>
        <section class="container">
            <h1>Complete Your Profile</h1>
             <div class="card login">
           

            <form>
                <p>
                    Name <br/>
                    <input type="text" class="name" name="name" value=""/>
                </p>
                <p>
                    Bio <br/>
                    <textarea rows="5" class="bio" name="bio" value=""></textarea>
                </p>
                <p>
                    Specialization <br/>
                    <input type="text" class="specialization" name="specialization" value=""/>
                </p>
                <p>
                    Phone Number <br/>
                    <input type="text" class="phone" name="phone" value=""/>
                </p>
                <p>
                    Google Pay Link <br/>
                    <input type="text" class="gpay" name="gpay" value=""/>
                </p>
                <p>
                    PayPal Link <br/>
                    <input type="text" class="paypal" name="paypal" value=""/>
                </p>

                <button class="submit-btn">Submit</button>

                
            </form>

        </div>

        </section>
       
    </main>

        
     <script src="../firebase.js"></script>   
   <script src="../scripts/push.js"></script> 
</body>
</html>